#main-menu {
  position: fixed;
}

#main-menu .nav {
  min-height: 100vh;
}

#main-menu .nav-item {
  min-width: 150px;
  max-width: 250px;
}

.card-layout--container {
  width: auto;
  margin-left: 150px;
  padding: 24px;
}
